.primary-color{
	-fx-background-color: #FFFFFF;
}
.secondary-color{
	-fx-background-color: #F6EDE4;
}
.button{
	-fx-background-color: #03AC13;
	-fx-background-radius: 30;
}
.text-input{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #242551;
	-fx-text-inner-color: #000000;
}
.selected-border{
	-fx-border-color: #000;
	-fx-border-width: 0 3 0 0;
	
}
.selected:hover{
	-fx-background-color: #F6EDE4;
}
.button:hover {
    -fx-background-color: #001a00; /* Màu nền khi hover */
    -fx-text-fill: white; /* Màu chữ khi hover */
}

.up:hover {
    -fx-translate-y: -20px;
    -fx-scale-x: 1.1; 
    -fx-scale-y: 1.1; 
}

.up2:hover {
    -fx-translate-y: -10px;
    -fx-scale-x: 1.1; 
    -fx-scale-y: 1.1; 
}
