.primary-color{
	-fx-background-color: #FFFFFF;
}
.secondary-color{
	-fx-background-color: #ffff99;
}
.button{
	-fx-background-color: #242551;
	-fx-background-radius: 30;
}
.text-input{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #242551;
	-fx-text-inner-color: #fff;
}
.selected-border{
	-fx-border-color: #fff;
	-fx-border-width: 0 3 0 0;
	
}
.selected:hover{
	-fx-background-color: #141417;
}
